<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Trang mặc định{% endblock %}</title>
    <link rel="icon" href="https://myblog2-400d.onrender.com/static/images/logoicon.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: "#4f46e5",
                        light: "#f9fafb",
                    },
                },
            },
        };
    </script>
    <link
            href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css"
            rel="stylesheet"
    />
</head>
<body class="bg-light text-gray-800">
<div class="flex min-h-screen">
    <!-- Sidebar -->
    <aside class="w-64 bg-white shadow-md border-r">
        <a href="/dashboard" class="p-6 text-2xl font-bold text-primary border-b block">
            <i class="ti ti-layout-dashboard mr-2"></i> MyBlog
        </a>
        <nav class="p-4 space-y-2 text-sm">
            <a href="/dashboard" class="flex items-center p-2 rounded hover:bg-gray-100">
                <i class="ti ti-layout-dashboard mr-3 text-primary"></i> Dashboard
            </a>
            <a href="/users" class="flex items-center p-2 rounded hover:bg-gray-100">
                <i class="ti ti-user-circle mr-3 text-primary"></i> Người dùng
            </a>
            <a href="/categories" class="flex items-center p-2 rounded hover:bg-gray-100">
                <i class="ti ti-category mr-3 text-primary"></i> Danh mục
            </a>
            <a href="/roles" class="flex items-center p-2 rounded hover:bg-gray-100">
                <i class="ti ti-shield-lock mr-3 text-primary"></i> Quyền
            </a>
            <a href="/posts" class="flex items-center p-2 rounded hover:bg-gray-100">
                <i class="ti ti-article mr-3 text-primary"></i> Bài viết
            </a>
            <button type="button" id="dangxuat" class="flex items-center p-2 rounded-lg text-gray-700 hover:bg-gray-100 hover:text-blue-600 transition duration-200 w-full text-left">
                <i class="ti ti-logout mr-3 text-primary"></i> Đăng xuất
            </button>
        </nav>
    </aside>


    <!-- Main content -->
    <div class="flex-1 flex flex-col">
        <!-- Header -->
        <header
                class="bg-white shadow-sm p-4 flex justify-between items-center border-b"
        >
            <h1 class="text-xl font-semibold">Dashboard</h1>
            <div class="flex items-center space-x-4">
               <div class="">
                   <span class="text-sm text-gray-500">{{ session['user']['role'] }}</span>
                   <p class="text-sm text-gray-500 font-bold">Hi, {{ session['user']['username'] }}</p>
               </div>
                <img
                        src="{{ url_for('static', filename= session['user'].get('image_url', 'images/avt.jpg')) }}"
                        class="w-8 h-8 rounded-full"
                        alt="avatar"
                />
            </div>
        </header>

        <!-- Content -->
        <main class="p-6 bg-light flex-1">
            {% block content %}{% endblock %}
        </main>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $('#dangxuat').click(function() {
        Swal.fire({
            title: "Bạn có muốn đăng xuất?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Đăng xuất"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/logout`,
                    type: 'GET',
                    success: function(response) {
                        window.location.href = '/login';
                    },
                    error: function() {
                        Swal.fire(
                            'Error!',
                            'Có lỗi xảy ra khi xóa bài viết.',
                            'error'
                        );
                    }
                });
            }
        });
    });
</script>
</body>
</html>
